:root {
  --main-text-color: #22343d;
  --main-bg-color: #fff;
  --btn-bg-color: #02897a;
  --icon-fill: #02897a;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}